* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  color: #666;
  line-height: 1;
  position: relative;
}

/* *************************** */
/* Header */
/* *************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.4rem 0 2.1rem 0;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 8rem;

  color: #333;
}
.nav-list-item {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
.nav-list-li::after {
  content: "";
  display: block;
  margin-right: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.7s ease;
}
.nav-list-li:hover::after {
  width: 100%;
  background: #111;
}

.nav-list-item:link,
.nav-list-item:visited {
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  /* transsition: all 0.3s; */
}
.logo-img-box {
  padding-bottom: 9px;
}
.logo-img {
  display: block;
}

.header-icon-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}
.header-icon-item,
.close-icon {
  padding-bottom: 8px;
  width: 2.8rem;
  height: 2.8rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}
.header-icon-item:hover {
  color: #937226;
}
.shade {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* z-index: 99; */
  max-width: 100%;
  max-height: 100%;
  background-color: #89898980;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out;
}
.main-btn-cart {
  border: none;
  background-color: inherit;
}
.cart {
  transition: all 0.7s ease-in-out;
  z-index: 999999;
  position: fixed;
  padding: 3.2rem 2.4rem 3.2rem 1.2rem;
  height: 100vh;
  width: 30%;
  top: 0;
  right: 0;
  background-color: #fff;
  transform: translateX(100%);
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.4rem;
  /* padding-bottom: 2.4rem; */
}
.shop-title {
  font-size: 2.4rem;
  color: #3a3a3a;
  font-weight: 600;
  border-bottom: 1px solid rgb(221, 220, 220);
  padding-bottom: 1.2rem;
}
.cart-header ion-icon {
  color: #9f9f9f;
}
.card-product {
  padding: 2.4rem 0 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 35rem;
}
.product-status {
  font-size: 1.6rem;
  color: #9f9f9f;
  font-weight: 500;
}
.nav-card-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(221, 220, 220);
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
}
.subtotal {
  font-size: 1.6rem;
  color: #111;
}
.cart-price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #b88e2f;
}
.card-btns {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
}
.card-btn:link,
.card-btn:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #111;
  padding: 0.8rem 4.8rem;
  border: 1px solid #111;
  border-radius: 2rem;
  transition: all 0.3s ease-out;
}
.card-btn:hover,
.card-btn:active {
  color: #fff;
  background-color: #111;
}
.cart-open .cart {
  transform: translateX(0);
}
.cart-open .shade {
  transform: translateX(0);
}

/* *************************** */
/* Header end */
/* *************************** */
.range-section,
.product-section {
  margin-top: 6.4rem;
}
.container {
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 4.8rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.sub-heading {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  display: block;
}
.heading-holder {
  text-align: center;
}
.heading-primary {
  font-size: 5.2rem;
  letter-spacing: 2px;
  color: #b88e2f;
}
.secondary-heading {
  color: #333;
  font-size: 3.2rem;
  font-weight: 700;
}
.heading-holder {
  margin-top: 8rem;
  margin-bottom: 3.2rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  color: #3a3a3a;
  font-weight: 600;
}
.sec-sub {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  font-weight: 500;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #b88e2f;
  color: #fff;
  text-transform: uppercase;
  padding: 2.4rem 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  border: 1px solid #b88e2f;
}
.btn:hover,
.btn:active {
  background-color: #fff3e3;
  color: #b88e2f;
}
.margin-bottom-negative {
  margin-bottom: -1rem;
}
.margin-bottom-xs {
  margin-bottom: 0.8rem !important;
}
.margin-bottom-sm {
  margin-bottom: 1.2rem;
}
.margin-bottom-md {
  margin-bottom: 2.4rem;
}

.tag {
  display: block;
  font-size: 1.5rem;
  color: #898989;
  margin-bottom: 1.2rem;
}
/* *************************** */
/* product section */
/* *************************** */
.product-section {
  margin-bottom: 6.4rem;
}
.card-container {
  max-width: 123rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}

.product-card {
  background-color: #f4f5f7;
  position: relative;
  width: 100%;
}
.product-card:hover .gradiant {
  opacity: 0.6;
  visibility: visible;
  pointer-events: all;
  transition: all 0.6s ease-in-out;
}

.product-card:hover .hover-btn {
  transition: opacity 0.6s ease-in-out, background 0.3s ease-in-out,
    color 0.3 ease-in-out;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.product-card:hover .hover-nav {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: all 0.6s ease-in-out;
}
.product-card:hover .off-30::after,
.product-card:hover .off-50::after,
.product-card:hover .new::after {
  opacity: 0.6;
  transition: all 0.6s ease-in-out;
}

.hover-btn:link,
.hover-btn:visited {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  color: #b88e2f;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4.8rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-btn:hover,
.hover-btn:active {
  background-color: #b88e2f;
  color: #fff;
}
.gradiant {
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
}

.hover-nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 80%;
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;
}
.hover-nav-item a:link,
.hover-nav-item a:visited,
.hover-nav-item a:active,
.hover-nav-item a:hover {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.hover-nav-item ion-icon,
.hover-nav-item span {
  font-size: 1.8rem;
  color: #fff;
}

.product-card-info {
  padding: 2.4rem 3.2rem;
}
.product-card-image {
  display: block;
  width: 100%;
}
.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-on {
  font-size: 2rem;
  font-weight: 600;
  color: #3a3a3a;
}
.price-off {
  font-size: 1.3rem;
  color: #b0b0b0;
  text-decoration: line-through;
}
.off-30,
.off-50,
.new {
  position: relative;
}
.off-30::after,
.off-50::after,
.new::after {
  padding: 1.6rem 0.8rem;
  display: flex;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 50%;
  background-color: #e97171;
  position: absolute;
}
.off-30::after {
  content: "-30%";
}

.off-50::after {
  content: "-50%";
}

.new::after {
  content: "new";
  background-color: #2ec1ac;
  padding: 1.6rem 1rem;
}
.text-center {
  text-align: center;
}
.btn-show:link,
.btn-show:visited {
  font-weight: 500;

  background-color: #fff;
  color: #b88e2f;
  padding: 1.6rem 8rem;
  border-width: 2px;
}
.btn-show:active,
.btn-show:hover {
  color: #fff;
  background-color: #b88e2f;
}

/* *************************** */
/* footer */
/* *************************** */
.footer {
  margin-top: 12.8rem;
}
.border-pad {
  border-top: 1px solid rgb(221, 220, 220);
  padding: 8rem 6.4rem;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 6.4rem;
}

.footer-heading {
  font-size: 1.6rem;
  color: #9f9f9f;
}

.footer-list {
  display: flex;
  gap: 4.8rem;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
}
.news-letter {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 4.8rem;
  grid-column: 5/7;
}

.logo-address {
  flex-direction: column;
  grid-column: 1/3;
  display: flex;
  gap: 4.8rem;
  justify-content: flex-start;
}
.address {
  font-size: 1.6rem;
  line-height: 1.6;
}
.logo-txt:visited,
.logo-txt:link,
.logo-txt:hover,
.logo-txt:active {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.input {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}
.email {
  border: none;
  padding: 0 3.2rem 0.4rem 0;
  font-family: inherit;
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #111;
}
.label-sub {
  align-self: flex-end;
  font-size: 1.4rem;
  color: #111;
  padding-bottom: 0.4rem;
  cursor: pointer;
  border-bottom: 1px solid #111;
}

.copy-box {
  padding: 3.2rem 0;
  margin: 0 auto;
  max-width: 90%;
  border-top: 1px solid rgb(221, 220, 220);
}
.copy-right-text {
  font-size: 1.6rem;
  color: #333;
}
