* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  color: #666;
  line-height: 1;
}
/* *************************** */
/* Header */
/* *************************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.4rem;
  padding: 2.4rem 3.2rem;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 6.4rem;
  justify-self: center;
  color: #333;
}
.nav-list-item:link,
.nav-list-item:visited {
  color: #333;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}
.nav-list-item:hover,
.nav-list-item:active {
  color: #937226;
}
.header-icon-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}
.header-icon-item {
  width: 2.8rem;
  height: 2.8rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}
.header-icon-item:hover {
  color: #937226;
}
/* *************************** */
/* Header end */
/* *************************** */
.range-section,
.product-section {
  margin-top: 6.4rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 4.8rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.sub-heading {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
  display: block;
}
.heading-holder {
  text-align: center;
}
.heading-primary {
  font-size: 5.2rem;
  letter-spacing: 2px;
  color: #b88e2f;
}
.secondary-heading {
  color: #333;
  font-size: 3.2rem;
  font-weight: 700;
}
.heading-holder {
  margin-top: 8rem;
  margin-bottom: 3.2rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
  color: #3a3a3a;
  font-weight: 600;
}
.sec-sub {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  font-weight: 500;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #b88e2f;
  color: #fff;
  text-transform: uppercase;
  padding: 2.4rem 6.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  border: 1px solid #b88e2f;
}
.btn:hover,
.btn:active {
  background-color: #fff3e3;
  color: #b88e2f;
}
.margin-bottom-negative {
  margin-bottom: -1rem;
}
.margin-bottom-xs {
  margin-bottom: 0.8rem !important;
}
.margin-bottom-sm {
  margin-bottom: 1.2rem;
}
.margin-bottom-md {
  margin-bottom: 2.4rem;
}

.tag {
  display: block;
  font-size: 1.5rem;
  color: #898989;
  margin-bottom: 1.2rem;
}
/* *************************** */
/* product section */
/* *************************** */
.product-section {
  margin-bottom: 6.4rem;
}
.card-container {
  max-width: 123rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}

.product-card {
  background-color: #f4f5f7;
  position: relative;
  width: 100%;
}
.product-card:hover .gradiant {
  opacity: 0.6;
  visibility: visible;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
}

.product-card:hover .hover-btn {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.product-card:hover .hover-nav {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: all 0.4s ease-in-out;
}
.product-card:hover .off-30::after,
.product-card:hover .off-50::after,
.product-card:hover .new::after {
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

.hover-btn:link,
.hover-btn:visited {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #fff;
  color: #b88e2f;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4.8rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-btn:hover,
.hover-btn:active {
  background-color: #b88e2f;
  color: #fff;
}
.gradiant {
  background-color: #333;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: pointer;
}

.hover-nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 80%;
  position: absolute;
  top: 55%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;
}
.hover-nav-item a:link,
.hover-nav-item a:visited,
.hover-nav-item a:active,
.hover-nav-item a:hover {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.hover-nav-item ion-icon,
.hover-nav-item span {
  font-size: 1.8rem;
  color: #fff;
}

.product-card-info {
  padding: 2.4rem 3.2rem;
}
.product-card-image {
  display: block;
  width: 100%;
}
.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-on {
  font-size: 2rem;
  font-weight: 600;
  color: #3a3a3a;
}
.price-off {
  font-size: 1.3rem;
  color: #b0b0b0;
  text-decoration: line-through;
}
.off-30,
.off-50,
.new {
  position: relative;
}
.off-30::after,
.off-50::after,
.new::after {
  padding: 1.6rem 0.8rem;
  display: flex;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  border-radius: 50%;
  background-color: #e97171;
  position: absolute;
}
.off-30::after {
  content: "-30%";
}

.off-50::after {
  content: "-50%";
}

.new::after {
  content: "new";
  background-color: #2ec1ac;
  padding: 1.6rem 1rem;
}
.text-center {
  text-align: center;
}
.btn-show:link,
.btn-show:visited {
  font-weight: 500;

  background-color: #fff;
  color: #b88e2f;
  padding: 1.6rem 8rem;
  border-width: 2px;
}
.btn-show:active,
.btn-show:hover {
  color: #fff;
  background-color: #b88e2f;
}

/* *************************** */
/* product section end */
/* *************************** */
