.product-path {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  background-color: #f9f1e7;
  padding: 3.8rem 6.4rem;
  max-width: 100vw;
}

.product-path-link {
  font-size: 1.6rem;
  color: #9f9f9f;
  text-decoration: none;
}

.product-path-title {
  font-size: 1.6rem;
  color: #111;
  padding: 1.2rem;
  padding-left: 2.4rem;
  border-left: 2px solid #9f9f9f;
}
.main-product-cart {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: flex-start;
  justify-content: start;
  gap: 3.2rem;
  padding: 6.4rem;
}
.product-aside {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: flex-start;
}

.product-aside-img-box {
  background-color: #f9f1e7;
  border-radius: 7.5px;
  max-width: 128px;
}

.product-aside-img {
  width: 128px;
  display: block;
  object-fit: cover;
}

.main-product-img {
  object-fit: cover;
  border-radius: 7.5px;
  width: 380px;
  height: 100%;
  margin-right: 4.8rem;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.product-title {
  font-size: 4.2rem;
  color: #111;
}
.product-price {
  font-size: 2.4rem;
  color: #9f9f9f;
  font-weight: 500;
  width: 83%;
}
.rating {
  display: flex;
  align-items: center;
}
.customer-number {
  padding: 0.4rem;
  border-left: 1px solid #9f9f9f;
  font-size: 1.3rem;
  color: #9f9f9f;
}
.product-description {
  font-size: 1.6rem;
  color: #111;
  line-height: 1.6;
}
.share-container {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  border-top: 1px SOLID #9f9f9f;
  padding-top: 2.4rem;
}
.share-flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.share-item {
  font-size: 1.6rem;
  color: #9f9f9f;
}
.share-icons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.share-icons img {
  cursor: pointer;
}
.Review-section {
  border-top: 1px solid #9f9f9f;
  padding: 3.2rem;
}
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.Review-heading {
  font-size: 2.4rem;
  color: #9f9f9f;
  font-weight: 400;
  cursor: pointer;
}
.Review-section-p-holder {
  padding: 6.4rem;
}
.Review-section-p {
  font-size: 1.6rem;
  color: #9f9f9f;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.reviews-boxes {
  display: none;
}
.show {
  color: #111;
  font-weight: 500;
}
.Description-container {
  display: block;
}
.related-heading-holder {
  margin: 0;
}
.related-product {
  margin-bottom: 3.2rem;
  margin-top: 2.4rem;
  padding-bottom: 0;
}

.related-container {
  margin-bottom: 2.4rem;
}

.related-product-heading {
  font-weight: 500;
  font-size: 3.6rem;
  color: #111;
}
